.Nav {
  height: 45px;
  background: $primaryHeaderColor;
  @include flex(null, null, center, null);
  & h1 {
    margin-left: 15px;
    font-size: 30px;
    @include flex(null, null, center, null);
    color: rgb(235, 235, 235);
    font-family: "Share Tech Mono", monospace;
    & img {
      width: 40px;
      height: 40px;
    }
  }
}
