.Quest {
  margin: 0 35px 35px 0;
  border: 1px solid #999999;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.639);
  height: 375px;
  width: 310px;
  position: relative;
  background: white;

  .green-quest {
    border-color: #8CAC81;
  }
}

.card-header {
  background: grey;
  padding: 12px 15px;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: space-between;

  .green-header {
    background: rgb(119, 148, 109);
  }

  button {
    background: none!important;
    border: none;
  }

  .expand-btn {
    font-size: 20px;
    color: white;
    opacity: .7;

    &:hover {
      opacity: 1;
    }
  }

  .coin {
    height: 20px;
    cursor: pointer;
  }
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: text;
  flex: auto;
  padding-left: 12px;
}

.card-body {
  height: 290px;
  overflow-y: scroll;
  border-bottom: 1px solid #c9dacc;
  border-top: 1px solid #688f6f9c;
}

.delete-btn {
  background: none!important;
  border: none;
  font-size: 18px;
  color: $btnColor;

  &:hover {
    color: darkred!important;
    opacity: .7;
  }
}

.card-footer {
  background: lightgray;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3px;

  .green-footer {
    background: #E1EBDE;
  }
}

.show-completed {
  font-size: 14px;
  color: $btnColor;

  &:hover {
    color: $btnHoverColor;
  }
}

.delete-btn,
.show-completed {
  cursor: pointer;
  margin: 0 15px;
}

.divider {
  opacity: .6;
  margin: 10px 0 5px 3px;
  font-weight: 500;
}
