.ChallengeContainer {
  padding: 20px 25px 0 25px;
  overflow-y: scroll;
  height: 280px;
} 

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.new-challenge-input {
  border-radius: 5px 0 0 5px!important;
  margin: 0;
}

.add-challenge-btn {
  height: 35px;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 0 10px;
  color: white;
  font-size: 12px;
}
