.challenge-txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border: 1px solid rgba(218, 233, 213, 0.351);
  border-bottom-color: rgba(197, 216, 191, 0.351);
  list-style: none;
  color: #222;
  cursor: text;

  span {
    padding: 12px 0;
    font-size: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    width: 230px;
  }

  .far,
  .close-icon {
    color: $btnColor;
    margin: 0 10px;
    font-size: 22px;
    cursor: pointer;
    opacity: .8;
  }

  .far:hover {
    color: $btnHoverColor;
  }

  .close-icon {
    font-family: 'Jura', sans-serif;
    font-size: 28px;
    margin-right: 16px;
    margin-top: -8px;

    &:hover {
      color: rgb(215, 89, 89);
    }
  }

  .fa-times {
    color: $btnColor;
    margin-right: 10px;

    &:hover {
      color: rgb(198, 59, 59);
    }
  }
}

.left-padding {
  width: 2px;
}
