// colors
$primaryBodyColor: #f1f1eb;
$secondaryBodyColor: #c3914c;
$primaryHeaderColor: #578761;
$secondaryHeaderColor: #2c4b32;
$accentColor: #9b531c;
$btnColor: rgb(55, 110, 169);
$btnHoverColor: rgb(79, 159, 208);
