@import "./variables";
@import "./mixins";
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
@import "../containers/App/App.scss";
@import "../components/Banner/Banner";
@import "../components/Challenge/Challenge";
@import "../components/ChallengeContainer/ChallengeContainer";
@import "../components/Header/Header";
@import "../components/Main/Main";
@import "../components/Nav/Nav";
@import "../components/Quest/Quest";
@import "../components/QuestForm/QuestForm";
@import "../components/QuestContainer/QuestContainer";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline-color: darkgreen;
	// border: 0.3px solid pink;
}

html,
#root,
body,
.app {
	height: 100%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
