@import "./variables";
@import "./mixins";
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
@import "../containers/App/App.scss";
@import "../components/Banner/Banner";
@import "../components/Challenge/Challenge";
@import "../components/ChallengeContainer/ChallengeContainer";
@import "../components/Header/Header";
@import "../components/Main/Main";
@import "../components/Nav/Nav";
@import "../components/Quest/Quest";
@import "../containers/ExperienceBar/ExperienceBar";
@import "../components/QuestForm/QuestForm";
@import "../components/QuestContainer/QuestContainer";
@import "../components/Dialog/Dialog";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline-color: darkgreen;
	// border: 0.3px solid pink;
}

html,
#root,
body,
.app {
	height: 100%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// ::-webkit-scrollbar-track {
//   border-radius: 5px;
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//   border: 1px solid rgb(50, 91, 50);
// 	/* background-color: rgb(29, 29, 29); */
// }

// ::-webkit-scrollbar {
//   border-radius: 5px;
//   height: 8px;
//   width: 8px;
// }

// ::-webkit-scrollbar-thumb {
//   border-radius: 5px;
// 	background-color: #484F51;
// 	border: 1px solid #484F51;
// }
