.Quest {
  margin: 0 35px 35px 0;
  border: 1px solid #8CAC81;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.639);
  height: 375px;
  width: 310px;
  position: relative;
  background: white;
}

.card-header {
  background: rgb(119, 148, 109);
  padding: 12px 15px;
  border-radius: 4px 4px 0 0;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: text;
}

.card-body {
  height: 290px;
  overflow-y: scroll;
  border-bottom: 1px solid #a5bfaa;
  border-top: 1px solid #688f6f9c;
}

.challenge-txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border: 1px solid rgba(218, 233, 213, 0.351);
  border-bottom-color: rgba(197, 216, 191, 0.351);
  list-style: none;
  color: #222;
  cursor: text;

  span {
      padding: 12px 0;
      flex: auto;
      font-size: 15px;
  }

  .far,
  .close-icon {
    color: $btnColor;
    margin: 0 10px;
    font-size: 22px;
    cursor: pointer;
    opacity: .8;
  }

  .far:hover {
    color: $btnHoverColor;
  }

  .close-icon {
    font-family: 'Jura', sans-serif;
    font-size: 28px;
    margin-right: 16px;
    margin-top: -8px;

    &:hover {
      color: rgb(215, 89, 89);
    }
  }

  .fa-times {
    color: $btnColor;
    margin-right: 10px;

    &:hover {
      color: rgb(198, 59, 59);
    }
  }
}

.delete-btn {
  background: none!important;
  border: none;
  font-size: 18px;
  color: $btnColor;

  &:hover {
    color: darkred!important;
    opacity: .7;
  }
}

// .uncompleted-ul {
//   background: white;
// }

.complete-ul {
  span,
  .far,
  .fas  {
    color: rgba(131, 131, 131, 0.728)!important;
  }

  .fa-times:hover {
    color: darkred;
    opacity: .7;
  }
}

.card-footer {
  background: #E1EBDE;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-completed {
  font-size: 14px;
  color: $btnColor;

  &:hover {
    color: $btnHoverColor;
  }
}

.delete-btn,
.show-completed {
  cursor: pointer;
  margin: 0 15px;
}

.divider {
  opacity: .6;
  margin: 10px 0 5px 3px;
  font-weight: 500;
}
