.Main {
  margin-top: 155px;
  padding: 15px 25px;
}

.controls,
.headers {
  display: flex;
}

.page-title {
  color: white;
  font-weight: 500;
  font-size: 22px;
}

.view-all {
  margin-left: 15px;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  margin-top: 5px;
  margin-right: -15px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.search-input,
.quest-filter {
  height: 28px;
  margin-left: 30px;
}

.search-bar {
  position: relative;
}

.search-input {
  width: 325px;
  border-radius: 8px;
  border: none;
  padding-left: 10px;
}

.fa-search {
  
}

.search-btn-container{
  position: absolute;
  width: 30px;
  height: 28px;
  right: 0px;
  color: white;
  border: none;
  border-radius: 0 8px 8px 0;
  &:hover {
    cursor: pointer;
  }
}

.quest-filter {
  width: 80px;
}

::placeholder {
  font-size: 14px;
  font-style: italic;
}

.add-quest-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  bottom: 30px;
  right: 30px;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background: white;
  color: $btnHoverColor;
  font-size: 30px;
  box-shadow: 3px 3px 6px #000;

  &:hover {
    color: white;
    background: $btnColor;
    cursor: pointer;
  }
}

button:disabled {
  background: lightgrey!important;

  &:hover {
    background: lightgrey!important;
  }
}

