.QuestForm {
  align-items: center;
  background: rgba(0, 0, 0, 0.804);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.dialog-title {
  display: block;
  color: white;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 30px;
}

.close-btn {
  position: absolute;
  top: 25px;
  right: 25px;
  color: red;
  font-size: 40px;

  &:hover {
    color: rgb(255, 81, 81);
  }
}

.new-quest-form {
  width: 25%;
  height: 55%;
  background: white;
  border-radius: 10px;
  color: #222222;
  display: flex;
  flex-direction: column;
  padding: 40px;
  position: relative;

  .new-quest-label {
    margin-bottom: 10px;
  }

  .new-quest-input {
    margin-bottom: 20px;
    min-height: 40px;
    border-radius: 5px;
  }

  .save-quest-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 5px;
    background: $primaryHeaderColor;
    color: white;
    font-size: 20px;
    padding-bottom: 3px;

    &:hover {
      background: $secondaryHeaderColor;
    }
  }
}

