.App {
  // text-align: center;
  position: relative;
}

.background {
  background: url('https://i.imgur.com/IOlKfQy.png');
  // background: url('../../images/darkbg.png');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

button {
  background: $btnColor;

  &:hover {
    background: $btnHoverColor;
  }
}

.dialog-overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
